$color-background: rgb(189,178,128);
$color-font: rgb(255,255,255);
$color-font2: rgb(0,0,0);
$color-font3: rgb(80,80,80);
$color-background-burger: rgb(81,79,171);
$color-background-burger2: rgb(61,59,151);